{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="cid-s6zKgygF9t" id="social-buttons2-f">
  <div class="media-container-row">
    <div class="col-md-8 align-center">
      <h2 class="pb-3 mbr-fonts-style display-2">コメント</h2>
    </div>
  </div>
</section>

<div class="d-flex justify-content-center">
  <div class="my-box w-75">
    <form method="POST" class="post-form">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="save btn btn-primary btn-sm">送信</button>
    </form>
  </div>
</div>
{% endblock %}
